 
/*  allows me to import google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Rowdies&family=Work+Sans:wght@300;600&display=swap');

/* Removes margins from the header and sets sizes of the boxes */
* {box-sizing: border-box;
  margin:0;
}
/* Styles the header bar */
.landing-page-header {
  background-color: #DFBD69;
  overflow: hidden;
  font-family: 'Rowdies', cursive;
  color: #611CA9;
  width: 100%;
}
/* Adds a black background to the navigation bar */
.landing-page-menu{
  background-color: #000000;
  overflow: hidden;
  font-family: 'Rowdies', cursive;
  color: #ffffff;
  width: 100%;
}
/* Styles the links inside the navigation bar */
.landing-page-menu a{
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Changes the link to purple on hover */
.landing-page-menu a:hover {
  background-color: #611CA9;
  color: #DFBD69;
}
/* Makes the active/current link purple */
.landing-page-menu a.active {
  background-color: #611CA9;
  color: #DFBD69;
}
/* Will automatically display the navbar vertically instead of horizontally on screens less than 600 pixels making webpage responsive */
@media screen and (max-width: 600px) {
}
/* Sets navbar position */
.navbar a {
  float: none;
  display: block;
}
/* Allows me to have the size and positioning I want*/
.logo{
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #D4B464;;
  width: 40vw;
}
/* styles body header text */
.Font{
  font-family:Rowdies;
  display: block;
  text-align: center;
}
/* styles body text */
.WorkSans{
  font-family:Work Sans;
}
/* stops the main text from stretching too far across the sceen, centres text with the flip cards making it easier for the user to read */
.text{
  padding-left: 15vw;
  padding-right: 15vw;
}
/* sets background colour to gold */
body{
  background-color: #D4B464;
  z-index: 0;

}
  /* Changes the  colour of links to a dark red to increase contrast */
a.links {
  color: #570000;
}

  /* Changes the  colour of visited links to a blue so it is visible against the background */
a.links:visited {
  color: #1C1EA9;
  background-color: transparent;
  text-decoration: none;
}
/* Changes the  colour of links to light blue on hover to increase contrast */
a.links:hover {
  color: #05E9DD;
  background-color: transparent;
  text-decoration: underline;
}
/* pictures wont be visble */
.pictures{
  z-index: -7;
  display: none;
}
/* Styles the right & left column of the flip cards*/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* equal columns */
  gap: 15px;
  align-items: start;
  max-width: 700px;   /* controls how wide the whole thing is */
  margin: 0 auto;     /* centers it */
  padding: 0 20px; /* stops it kissing the edges on smaller screens */
  width:100%; 
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* The flip card container for Hip-Hop*/
.Hip-hop{
  background-color: transparent;
  width: 305px;
  height: 350px;
  border: 2px solid #000000;
  perspective: 1000px; /* Gives the 3D effect */
  margin-left: 70vw;
}
/* helps position the inside of flip card */
.Hip-hop-inner {
  position: relative;
  width: 310px;
  height: 360px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/* horizontal flip when mouse hovers over the card */
.Hip-hop:hover .Hip-hop-inner{
  transform: rotateY(180deg);
}
/* Position the front and back of card */
.Hip-hop-front, .Hip-hop-back{
  position: absolute;
  width: 310px;
  height: 360px;
  -webkit-backface-visibility: hidden; /* needed for Safari */
  backface-visibility: hidden;
}
/* Styles the front of the card*/
.Hip-hop-front{
  background-color: white;
  color: black;
}
/* Styles the back of the card */
.Hip-hop-back{
  background-color:#B19CD9;
  color:black;
  transform: rotateY(180deg);
  font-family: "work sans";
  padding: 30px;
}
/* The flip card container for skating*/
.skating{
  background-color: transparent;
  width: 304px;
  height: 350px;
  border: 2px solid #000000;
  perspective: 1000px;/* Gives the 3D effect */
  margin-left: 70vw; 
}
/* helps position the inside of flip card */
.skating-inner {
  position: relative;
  width: 309px;
  height: 360px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/* horizontal flip when mouse hovers over the card */
.skating:hover .skating-inner{
  transform: rotateY(180deg);
}
/* Position the front and back of card */
.skating-front, .skating-back{
  position: absolute;
  width: 309px;
  height: 360px;
  -webkit-backface-visibility: hidden; /* needed for Safari */
  backface-visibility: hidden;
}
/* Styles the front of the card*/
.skating-front{
  color: black;
}
/* Styles the back of the card */
.skating-back{
  background-color:#B19CD9;
  color:black;
  transform: rotateY(180deg);
  font-family: 'work sans';
  padding: 30px;
}
/* The flip card container for japenese streetwear*/
.japanese-streetwear{
  background-color: transparent;
  width: 304px;
  height: 350px;
  border: 2px solid #000000;
  perspective: 1000px; /* Gives the 3D effect */
  margin-left: 70vw;
}
/* helps position the inside of flip card  */
.japanese-streetwear-inner {
  position: relative;
  width: 309px;
  height: 360px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/* horizontal flip when mouse hovers over the card */
.japanese-streetwear:hover .japanese-streetwear-inner{
  transform: rotateY(180deg);
}
/* Position the front and back of card */
.japanese-streetwear-front, .japanese-streetwear-back{
  position: absolute;
  width: 309px;
  height: 360px;
  -webkit-backface-visibility: hidden; /* needed for Safari */
  backface-visibility: hidden;
}
/* Styles the front of the card*/
.japanese-streetwear-front{
  color: black;
}
/* Styles the back of the card */
.japanese-streetwear-back{
  background-color:#B19CD9;
  color:black;
  transform: rotateY(180deg);
  font-family: 'work sans';
  padding: 30px;
}
/* Styles the left column of cards */

/* The flip card container for basketball*/
.basketball{
  background-color: transparent;
  width: 305px;
  height: 350px;
  border: 2px solid #000000;
  perspective: 1000px; /* Gives the 3D effect */
}
/* helps position the inside of flip card */
.basketball-inner {
  position: relative;
  width: 310px;
  height: 360px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/* horizontal flip when mouse hovers over the card */
.basketball:hover .basketball-inner{
  transform: rotateY(180deg);
}
/* Position the front and back of card */
.basketball-front, .basketball-back{
  position: absolute;
  width: 310px;
  height: 360px;
  -webkit-backface-visibility: hidden; /* needed for Safari */
  backface-visibility: hidden;
}
/* Styles the front of the card*/
.basketball-front{
  color: black;
}
/* Styles the back of the card */
.basketball-back{
  background-color:#B19CD9;
  color:black;
  transform: rotateY(180deg);
  font-family: 'work sans';
  padding: 30px;
}
/* The flip card container for street-art*/
.street-art{
  background-color: transparent;
  width: 304px;
  height: 350px;
  border: 2px solid #000000;
  perspective: 1000px; /* Gives the 3D effect */
}
/* helps position the inside of flip card  */
.street-art-inner {
  position: relative;
  width: 309px;
  height: 360px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/* horizontal flip when mouse hovers over the card */
.street-art:hover .street-art-inner{
  transform: rotateY(180deg);
}
/* Position the front and back of card */
.street-art-front, .street-art-back{
  position: absolute;
  width: 309px;
  height: 360px;
  -webkit-backface-visibility: hidden; /* needed for Safari */
  backface-visibility: hidden;
}
/* Styles the front of the card*/
.street-art-front{
  color: black;
}
/* Styles the back of the card */
.street-art-back{
  background-color: #B19CD9;
  color:black;
  transform: rotateY(180deg);
  font-family: 'work sans';
  padding: 30px;
}
/* The flip card container for haute-coture*/
.haute-coture{
  background-color: transparent;
  width: 305px;
  height: 350px;
  border: 2px solid #000000;
  perspective: 1000px; /* Gives the 3D effect */
}
/* helps position the inside of flip card */
.haute-coture-inner {
  position: relative;
  width: 310px;
  height: 360px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/* horizontal flip when mouse hovers over the card */
.haute-coture:hover .haute-coture-inner{
  transform: rotateY(180deg);
}
/* Position the front and back of card */
.haute-coture-front, .haute-coture-back{
  position: absolute;
  width: 310px;
  height: 360px;
  -webkit-backface-visibility: hidden; /* needed for Safari */
  backface-visibility: hidden;
}
/* Styles the front of the card*/
.haute-coture-front{
  color: black;
}
/* Styles the back of the card */
.haute-coture-back{
  background-color:#B19CD9;
  color:black;
  transform: rotateY(180deg);
  font-family: 'work sans';
  padding: 30px;
}
/* Styles the cards on screens 1500px and less */
@media screen and (max-width: 1500px){
  .left{
    float: left;
    margin-left: 5vw;
    position: relative;
    top: 7vh;
    padding-left: 200px;
    padding-right: 300px;
  }
  .right{
    position: relative;
    top: 10vh;
    float: right;
    padding-left: 300px;
  }
  .pictures{
    z-index: -7;
    display: none;
  }
}
/* Styles the cards on screens 1200px and less */
@media screen and (max-width: 1200px){
  .left{
    float: left;
    margin-left: 0;
    position: relative;
    top: 7vh;
    padding-left: 17%;
    padding-right: 15%;
  }
  .right{
    position: relative;
    top: 10vh;
    float: right;
    padding-left: 33%;
    padding-right: 15%;
    margin-right: 0;
  }
  .pictures{
    z-index: -7;
    display: none;
  }
}

/* Hides the flip cards on screens 1100px and less */
@media screen and (max-width: 1100px){
  .left{
    display: none;
   }
   .right{
     display: none;
   }
/* Shows the pictures on screens 1100px and less */
   .pictures{
    display: block;
    padding-left: 20vw;
    padding-right: 12vw;
    align-items: center;
   }
}
/* Hides the flip cards on screens 950px and less */
@media screen and (max-width: 950px){
  .left{
    display: none;
   }
   .right{
     display: none;
   }
/* Shows the pictures on screens 950px and less */
   .pictures{
    display: block;
    padding-left: 15vw;
    padding-right: 12vw;
    align-items: center;
   }
}
/* Hides the flip cards on screens 890px and less */
@media screen and (max-width: 890px){
  .left{
    display: none;
   }
   .right{
     display: none;
   }
/* Shows the pictures on screens 890px and less */
   .pictures{
    display: block;
    padding-left: 14%;
    padding-right: 8%;
    align-items: center;
   }
}
/* Hides the flip cards on screens 820px and less */
@media screen and (max-width: 820px){
  .left{
    display: none;
   }
   .right{
     display: none;
   }
/* Shows the pictures on screens 820px and less */
   .pictures{
    display: block;
    padding-left: 30%;
    padding-right: 8%;
    align-items: center;
   }
}
/* Hides the flip cards on screens 720px and less */
@media screen and (max-width: 720px){
  .left{
    display: none;
   }
   .right{
     display: none;
   }
/* Shows the pictures on screens 720px and less */
   .pictures{
    display: block;
    padding-left: 25%;
    padding-right: 8%;
    align-items: center;
   }
}
/* Hides the flip cards on screens 600px and less */
@media screen and (max-width: 600px){
  .left{
    display: none;
   }
   .right{
     display: none;
   }
/* Shows the pictures on screens 600px and less */
   .pictures{
    display: block;
    padding-left: 20%;
    padding-right: 8%;
    align-items: center;
   }
}
/* Hides the flip cards on screens 500px and less */
@media screen and (max-width: 500px){
  .left{
    display: none;
   }
   .right{
     display: none;
   }
/* Shows the pictures on screens 500px and less */
   .pictures{
    display: block;
    padding-left: 15%;
    padding-right: 8%;
    align-items: center;
   }
}
/* Hides the flip cards on screens 450px and less */
@media screen and (max-width: 450px){
  .left{
    display: none;
   }
   .right{
     display: none;
   }
/* Shows the pictures on screens 450px and less */
   .pictures{
    display: block;
    padding-left: 10%;
    padding-right: 6%;
    align-items: center;
  }
}
/* Styles the footer*/
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#000000;
  color: #DFBD69;
  text-align: left;
  font-family:Rowdies;
  padding: 0.5%;
  opacity: 0.7;
  overflow: hidden;
} 
